.token.string,
.token.char, 
.token.attr-value, 
.token.regex,
.token.variable
    color: #fcc94e

.token.operator, 
.token.entity, 
.token.url
    color: #cc99cd

.token.boolean, 
.token.number, 
.token.function
    color: #ffa05f

.token.selector, 
.token.important, 
.token.atrule, 
.token.keyword, 
.token.builtin
    color: #bedd6e

.token.property, 
.token.class-name, 
.token.constant, 
.token.symbol 
    color: #6699cc

.token.tag, 
.token.attr-name,
.token.namespace, 
.token.deleted
    color #db5e5e