@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap')

hr
  width 13%
  border solid 5px $hrCustomColor
  margin-left 0


@media (max-width: 480px)
  hr
    width 23%

#todayjieunlearned, #tags
  font-size 4rem
  a
    display none
  

#author-jieun-jang-je0489-icloud-com, 
#started-date-2021-10-12 
  font-weight 300
  text-align right
  padding-top 3.2rem
  a.header-anchor 
    display none

.site-name 
  font-family 'Comfortaa', cursive
  font-size 1.3rem !important
  letter-spacing 0.009rem
